@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color:rgb(227, 242, 255);
        flex-direction: column;
        }

        .panel {
        display: flex;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 80%;
        max-width: 800px;
        height: 720px;


        }

        section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        }


        #usage-chart-section{ 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0;

        }

        #cpu{
        margin: 0 auto;
        gap: 13rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 20px;

        }